
    * {
        box-sizing: border-box;
    }
    [class*="col-"] {
        /* border: 1px solid blue; */
    }
    .row {
        /* border: 1px solid red; */
        margin-top: 10px;
    }
    .col-50 {
        display: inline-block;
        min-width: 300px;
        width: 49%;
        margin-right: 5px;
    }
    .col-25 {
        display: inline-block;
        width: 200px;
        margin-right: 5px;
    }
    img {
        width: 100%;
    }
    .container {
        max-width: 900px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }