@import 'main';

#main-image {
    width: 15rem;
}
.container-fluid {
    padding-top: $row-gap;
    padding-bottom: $row-gap;
}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: $primary-color; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}